<div class="footer">
    <div class="pull-right">
        Candidate for <a href="http://artik.devpost.com/">Makers Against Drought</a>
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2016
    </div>
</div>
